{% set events = agendacoderpad["calendar.maxime_coderpad_io"].events %}
{% set now = now().timestamp() %}

{% macro format_event(event) -%}
  
  [{{ as_timestamp(event.start) | timestamp_custom('%H:%M') }}-{{ as_timestamp(event.end) | timestamp_custom('%H:%M') }}] {{ event.summary }}

{%- endmacro %}

{% if events | length == 0 %}
  No meetings
{% else %}
  {% set start0 = as_timestamp(events[0].start) %}
  {% set end0 = as_timestamp(events[0].end) %}

  {% if start0 < now < end0 %}
    * {{ format_event(events[0]) }}

    {%- if events | length > 1 -%}
      {% set start1 = as_timestamp(events[1].start) -%}
      {% set end1 = as_timestamp(events[1].end) %}
  {{ format_event(events[1]) }}
    {% endif %}
  {% else %}
      {{ format_event(events[0]) }}
  {% endif %}
{% endif %}